html, body {
    margin: 0;
    padding: 0;
    top: 0px;

}

.fixed {
    position: fixed;
    top: 0;
}

.absolute {
    position: absolute;
    top: 144px;
}

.header{
    display: inline-block;
    position: relative;
    background: #ffffff;
    left: 144px;
    display: inherit;
}

#headerImage{
    border-radius: 0 0 20px 20px;
    width: 144px;
    position: absolute;
    display: inline-block;
}

#myname{
    border: 1px solid purple;
    font-size: 40px;
    text-decoration: underline;
    background: #ffffff;
}

#bio{
    border: 1px solid blue;

}

#navbar{
    z-index: 2;
    border: 1px solid green;
    border-radius: 0 0 10px 10px;
    padding: 3px;
    width: 100%;
    background: #ffffff;
}

#content {
    /*border: 1px solid red;*/
    margin: 2em 0 2em 0;
    padding: 0.5em 15% 0.5em 15%;
    position: relative;
    top: 144px;
}


