html, body {
    margin: 0;
    padding: 0;

}


.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#inputText {
    position: relative;
    display: inline-block;
    border: none;
    padding: 15px 32px;
    margin: 4px 2px;
    background-color: dodgerblue;
    width: 80px;
}

#firstname{
    display: inherit;
    position: relative;

}